.main-chat
  .main-box
    .main-box_left_menu
      .main-box_left_menu_name
        = @group.name
      .main-box_left_menu_member-list
        Member: 
        - @group.users.each do |user|
          = user.name
        
    .main-box_edit
      = link_to "Edit", edit_group_path(params[:group_id])

  .chat_box
    = render @messages
        

    .chat_box_form_box
      = form_for [@group, @message] do |f|
        = f.text_field :content, class: "chat_box_form_box_text", placeholder: "type a message" 
        = f.label :image, class: "chat_box_form_box_image" do
          = icon('fas', 'image')
          = f.file_field :image, class: "chat_box_form_box_select"
        = f.submit 'Send', class: "chat_box_form_box_submit" 